/* @font-face { */
/*   font-family: "customfont"; */
/*   src: url("/static/iosevkafinal.ttf"); */
/* } */

@font-face {
  font-family: customfont;
  src: url(/static/iosevkafinal.ttf);
}

:root {
  font-family: "Inter", sans-serif;
  --highlight: #00ff00;
  --text-color: #fbf1c7;
  --background: #fff;
  --tag-background: #c9f1ff;
  --code-text: #ff9e64;
  --tag-text: #000;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

.container {
  padding: 1em;
  margin: 1em;
  background-color: var(--background);
}

img {
  margin-bottom: 0.3em;
  width: 100%;
}

body {
  font-family: "Inter", monospace;
  line-height: 1.7;
  font-size: 1rem;
  font-feature-settings: "case" 1, "cpsp" 1, "dlig" 1, "cv01" 1, "cv02",
    "cv03" 1, "cv04" 1, "liga", "clig", "calt";
  font-variation-settings: "wght" 450;
  font-variant: common-ligatures contextual;
  background-color: var(--background);
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='87' height='50.232' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M0 54.424l14.5-8.373c4.813 2.767 9.705 5.573 14.5 8.37l14.5-8.373V29.303M0 4.193v16.744l-14.5 8.373L0 37.68l14.5-8.374V12.562l29-16.746m43.5 58.6l-14.5-8.37v-33.49c-4.795-2.797-9.687-5.603-14.5-8.37m43.5 25.111L87 37.67c-4.795-2.797-24.187-13.973-29-16.74l-14.5 8.373-14.5-8.37v-33.489m72.5 8.365L87 4.183l-14.5-8.37M87 4.183v16.745L58 37.673v16.744m0-66.976V4.185L43.5 12.56c-4.795-2.797-24.187-13.973-29-16.74L0 4.192l-14.5-8.37m29 33.484c4.813 2.767 9.705 5.573 14.5 8.37V54.42'  stroke-linejoin='round' stroke-linecap='round' stroke-width='2.5' stroke='hsla(189, 73%, 52%, 0.22)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-49,0)' fill='url(%23a)'/></svg>");
}
.frontmatter {
  border: 1px dashed black;
  padding: 0.5em;
}

.tag {
  display: inline-block;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.375rem;
  margin-right: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-decoration: none;
  --bg-opacity: 1; /* background-color: #e2e8f0; */
  --text-opacity: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: var(--tag-background);
  /* color: var(--code-text); */
}

code {
  background-color: var(--tag-background);
  color: #000;
  color: var(--tag-text);
  padding: 2.5px 5px;
  border-radius: 6px;
  font-size: 1em;
  font-family: customfont;
}
.footer {
  color: grey;
}
.navbar {
  color: grey;
}
em {
  padding-top: 0.5em;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  em,
  strong {
    font-family: "IBM Plex Serif"; !important
  }


@media (prefers-color-scheme: dark) {
  :root {
    --highlight: #2ac3de;
    --text-color: #cfc9c2;
    --background: #0d0e12;
    --tag-background: #1d2021;
    --code-text: #ff9e64;
    --tag-text: #ff9e64;
  }

  body {
    /* background-color: #000; */
    background-color: var(--background);
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='50.41' height='87' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(228, 16%, 6%, 1)'/><path d='M25.3 87L12.74 65.25m0 14.5h-25.12m75.18 0H37.68M33.5 87l25.28-43.5m-50.23 29l4.19 7.25L16.92 87h-33.48m33.48 0h16.75-8.37zM8.55 72.5L16.92 58m50.06 29h-83.54m79.53-50.75L50.4 14.5M37.85 65.24L50.41 43.5m0 29l12.56-21.75m-50.24-14.5h25.12zM33.66 29l4.2 7.25 4.18 7.25M33.67 58H16.92l-4.18-7.25M-8.2 72.5l20.92-36.25L33.66 0m25.12 72.5H42.04l-4.19-7.26L33.67 58l4.18-7.24 4.19-7.25M33.67 29l8.37-14.5h16.74m0 29H8.38m29.47 7.25H12.74M50.4 43.5L37.85 21.75m-.17 58L25.12 58M12.73 36.25L.18 14.5M0 43.5l-12.55-21.75M24.95 29l12.9-21.75M12.4 21.75L25.2 0M12.56 7.25h-25.12m75.53 0H37.85M58.78 43.5L33.66 0h33.5m-83.9 0h83.89M33.32 29H16.57l-4.18-7.25-4.2-7.25m.18 29H-8.37M-16.74 0h33.48l-4.18 7.25-4.18 7.25H-8.37m8.38 58l12.73-21.75m-25.3 14.5L0 43.5m-8.37-29l21.1 36.25 20.94 36.24M8.37 72.5H-8.36'  stroke-width='1' stroke='hsla(189, 73%, 52%, 0.11)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
  }

  .container {
    background-color: var(--background);
    color: var(--text-color);
    border-radius: 0.2em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  em,
  strong {
    color: var(--text-color);
    font-family: "IBM Plex Serif"; !important
  }

  a {
    color: var(--highlight);
  }

  blockquote {
    border-left: 4px solid var(--highlight);
    font-family: "IBM Plex Serif";
  }

  .tag {
    display: inline-block;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    border-radius: 0.375rem;
    margin-right: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-decoration: none;
    --bg-opacity: 1;
    background-color: var(--tag-background);
    --text-opacity: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    margin: 0;
    font-size: medium;
  }
}
