{% extends "base.jinja" %}

{% block main_template_content %}
<h1> Anirudh Rowjee</h1>
{{postcontent | safe}}


{% for post in base.tags["featured"] %}
<p style="padding: 0 0.5em 0 0"><a href="{{post.link}}"> {{post.frontmatter.title}}</a> &rarr; {{post.frontmatter.description}}</p>
{% endfor %}
{% endblock %}
