{% extends "base.jinja" %}

{% block main_template_content %}
  <h1 id="header">Anirudh Rowjee</h1>
{{postcontent | safe}}


{% for post in base.tags["featured"]|sort(attribute="frontmatter.date", reverse=true)%}
<p style="padding: 0 0.5em 0 0">
{{post.frontmatter.date}} <a href="{{post.link}}"> {{post.frontmatter.title}}</a> <br/>
</p>
{% endfor %}
{% endblock %}
