<nav class="navbar">
  <a href="/">[Anirudh Rowjee]</a> <br> <a href="/tags/">site index</a> - <a href="/about.html">about</a> - <a href="/blog/gateway.html">gateway</a> - <a href="/tech.html">tech</a> - <a href="/proof_of_work.html"> POW </a>
</nav>
