{% extends "base.jinja" %}

{% block main_template_content %}
<h1> Poetry </h1>
{{postcontent | safe}}


{% for post in base.collections["poetry"] %}
<p style="padding: 0 0.5em 0 0"><a href="{{post.link}}"> {{post.frontmatter.title}}</a> &rarr; {{post.frontmatter.description[:55] + "..." }}</p>
{% endfor %}

{% endblock %}

