
{% extends "base.jinja" %}

{% block main_template_content %}
<h1> Projects </h1>
{{postcontent | safe}}


{% for post in base.collections["projects"] %}
<p style="padding: 0 0.5em 0 0"><a href="{{post.link}}"> {{post.frontmatter.title}}</a> &rarr; {{post.frontmatter.description }}</p>
{% endfor %}

{% endblock %}

