{% extends "base.jinja" %}
{% block main_template_content %}
    <h1>Tech</h1>
    {{ postcontent | safe }}
    <h2>Some Select Posts</h2>
    {% for post in base.collections["tech"] %}
        <p style="padding: 0 0.5em 0 0">
            <a href="{{ post.link }}">{{ post.frontmatter.title }}</a> &rarr; {{ post.frontmatter.description[:55] + "..." }}
        </p>
    {% endfor %}
{% endblock %}
