{% extends "base.jinja" %}
{% block main_template_content %}
    <h1>Tech</h1>
    {{ postcontent | safe }}
    <h2>Some Select Posts</h2>
    {% for post in base.collections["tech"] %}
        <p style="padding: 0 0.5em 0 0">
            <a href="{{ post.link }}">{{ post.frontmatter.title }}</a> &rarr; {{ post.frontmatter.description[:55] + "..." }}
        </p>
    {% endfor %}

    <h2>My Projects</h2>
    {% for post in base.collections["projects"] %}
    <p style="padding: 0 0.5em 0 0"> 
      <a href="{{post.link}}"> {{post.frontmatter.title}}</a> [<a href={{post.frontmatter.meta.github}}>Github</a>{% if post.frontmatter.meta.live %} | <a href={{post.frontmatter.meta.live}}>Live Deployment</a>{% endif %}] <br/>
      &rarr; {{post.frontmatter.description }} 
    </p>

{% endfor %}
{% endblock %}
